<main class="container">
  <div class="row">
    <div class="eight columns vh65">
      <canvas id="designer" width="300" height="150"
        >Unfortunately your browser does not support canvas.</canvas
      >
    </div>
    <div class="four columns mt6p">
      <form action="/artworks/<%= artwork.id %>?_method=PUT" method="POST">
        <div>
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            id="title"
            name="title"
            placeholder="The Physical Impossibility of Death in the Mind of Someone Living"
            class="u-full-width"
            value="<%= artwork.title %>"
          />
        </div>

        <fieldset">
          <legend>Image Size</legend>
          <div class="row">
            <div class="five columns">
              <input
              id="imageWidth"
              type="text"
              class="u-full-width"
              placeholder="width"
              aria-label="width"
              name="width"
              value="<%= artwork.width %>"
              />
            </div>
              <div class="two columns form-connector">X</div>
               <div class="five columns">
              <input
              id="imageHeight"
              type="text"
              class="u-full-width"
              placeholder="height"
              aria-label="height"
              name="height"
              value="<%= artwork.height %>"
              />
            </div>
          </div>
        </fieldset>

        <div>
          <label for="borderRange">Borders</label>
          <div>
            <input
              id="borderRange"
              type="range"
              name="borders"
              class="u-full-width borders-range"
              value="<%= artwork.borders %>"
              min="0"
              max="100"
              oninput="this.nextElementSibling.value = this.value"
            />

            <output id="bubble" class="bubble" for="borders" value="<%= (artwork.borders / artwork.resolution).toFixed(2) %>"
              ><%= (artwork.borders / artwork.resolution).toFixed(2) %>"</output
            >
            </div>
        </div>

        <div>
          <select id="frameMolding" name="frameMolding" class="u-full-width">
            <option value="0" <% if (artwork.frameMolding == 0) { %>selected<% } %> >Choose A Frame</option>
            <option value="0.25" <% if (artwork.frameMolding == 0.25) { %>selected<% } %> >1/4" Face</option>
            <option value="0.5" <% if (artwork.frameMolding == 0.5) { %> selected<% } %>>1/2" Face</option>
            <option value="1" <% if (artwork.frameMolding == 1) { %> selected<% } %> >1" Face</option>
          </select>
        </div>
         
        <input
            id="resolution"
            name="resolution"
            type="hidden"
            value="<%= artwork.resolution %>"
          />
          <input id="preview" name="preview" type="hidden" value="" />
        <input
          type="Submit"
          value="Update Design"
          class="u-full-width button-primary"
        />
      </form>
    </div>
  </div>
</main>
<script src="/js/designer.js" defer></script>
