<main class="container">
  <div class="row">
    <div class="four columns mt6p">
      <h3><%= artwork.title %></h1>
      <dl>
        <dt>Image Size:</dt>
        <dd><%=artwork.height%> X <%=artwork.width%></dd>

        <dt>border size:</dt>
        <dd>
          <% if (artwork.borders) { %>
          <span id="borders"
            ><%= (artwork.borders / artwork.resolution).toFixed(2) %></span
          >" <% } else { %> None <% } %>
        </dd>

        <% if (artwork.frameMolding) { %>
        <dt>Frame Molding:</dt>
        <dd>
          <span id="frameMolding"><%= artwork.frameMolding %></span>" face
        </dd>
        <% } %>
      </dl>

      <a href="/artworks/<%= artwork.id %>/edit">Edit This Artwork</a> <br />
      <a href="/artworks/<%= artwork.id %>?_method=DELETE"
        >Delete This Artwork</a
      >
    </div>

    <div class="eight columns">
      <img src="<%= artwork.preview %>" alt="" />
    </div>
  </div>
</main>
<script src="/js/designer-preview.js"></script>
<script>
  draw("/images/Walker-Evans_New-Orleans-Street-Corner.jpg", 0, 0);
</script>
